.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -15%;
}

.count{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

button {
  padding: 10px 20px;
  background-color: #0052cc;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}